footer.footer
  .footer__logo
    img(src='/img/logo-green.png' alt='Natour logo')
  ul.footer__nav
    li: a(href='https://github.com/Ochanissi' target='_blank') About us
    li: a(href='https://github.com/Ochanissi' target='_blank') Download apps
    li: a(href='https://github.com/Ochanissi' target='_blank') Become a guide
    li: a(href='https://github.com/Ochanissi' target='_blank') Careers
    li: a(href='https://github.com/Ochanissi' target='_blank') Contact